@use "sass:math";
@use '../App/vars';
@use '../App/mixins';


.soc-list {
  @include mixins.listReset();
  display: flex;
  align-items: center;

  &__item {
    margin-right: 19%;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
  }
}